/*extrafonts

font-family: 'Lato', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/
*{
	color: #ececec;
}
html{
	padding: 0 auto;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow-x: hidden; /*panaikina apatini slideri*/
}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;	
	}
	header,main{
	/*	height: 100%;*/
	}
	/*header*/
	header{
		background-color: #303030;
		height: 7rem;
		width: 100%;
	}
	textarea:focus, input:focus{
	    outline: none;
	    width: 100%;
	}
hr{
	width: 98%;
}
/*navbar settings*/

nav/*, .items-box*/{
	display: flex;
	justify-content:center;
	align-items:center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
	#clock{
		position: absolute;
		top: 0;
	}
	.item{
		margin: 0 3rem;
	}
		.item a{
			color:#d0d0d0;
		}

	/*svg g=animation with navarotai*/

	#styling{
		position: relative;
		top: 1.5rem;
		left: 1.1rem;
		transform:scale(0.75);
	}
		svg:hover {
		    -webkit-animation:spin 1s linear infinite;
		    -moz-animation:spin 1s linear infinite;
		    animation:spin 1s linear infinite;
		}
		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

	/*po svg iškirptę(trikampiukas)*/

#trikampis{
	background-color: white;
	display: flex;
	justify-content:space-evenly;
}
	.bulgarke{
		width: 45%;
		max-width: 45%;
	}
		.divider{
			position: relative;
			top: 1rem;
			border: 1px solid #e4e9eb;
		}
	#triangle{
		width: 0; 
		height: 0; 
		border-left: 4.5rem solid transparent;
		border-right: 4.5rem solid transparent; 
		border-top: 3rem solid #303030;
	}

	/*main*/

main{
	width: 100%;
}
	aside{
		display: flex;
		flex-direction:column;
		position:relative;
		/*bottom: 200px;*/
		width: 100%;
	}
		.three-top{
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.four-center{
			width: 100%;
			display: flex;
			justify-content: center;
			
		}
		.three-bottom{
			width: 100%;
			display: flex;
			justify-content: center;
		}
	/*aside>span>img{
		max-width: 10rem;
		max-height: 10rem;
	}*/
	.helper1{
		display: flex;
		justify-content:center;
	}
	.helper1:first-child{
		position: relative;
		left: 3rem;
		/*height: */
	}
	.helper1:last-child{
		background-color: #2eb398;
	}
	.logo_img{
		transform:scale(0.75);

	}
    .logo_img>.hex-straight:hover{
        opacity: 0.5;   
        padding: 0;
    }
    /*
	image size must be defined and the image must be square(a*a, and not a*b)
    */
    .about .hex-straight{
    	width: 21%;
    }
    .hex-straight{
    	/*margin: 0.5rem;*/
	    width: 85%;
	    height: 100%;
	    padding: 0px;
	    overflow: hidden;
	    /*visibility: hidden;*/
	    -webkit-transform: rotate(120deg);
	       -moz-transform: rotate(120deg);
	        -ms-transform: rotate(120deg);
	         -o-transform: rotate(120deg);
	            transform: rotate(120deg);
    }
        .hex-rotate{
		    overflow: hidden;
		    -webkit-transform: rotate(-60deg);
		       -moz-transform: rotate(-60deg);
		        -ms-transform: rotate(-60deg);
		         -o-transform: rotate(-60deg);
		            transform: rotate(-60deg);
    }
            .hex-rotate-photo{
            	display: flex;
            	justify-content:center;
                visibility: visible;
                overflow: hidden;
                -webkit-transform: rotate(-60deg);
                   -moz-transform: rotate(-60deg);
                    -ms-transform: rotate(-60deg);
                     -o-transform: rotate(-60deg);
                        transform: rotate(-60deg);
                        }
            	.hex-rotate-photo>img{
            		width: 40rem;
            		margin: 0;
            		/*default width must be 400px*400px for lg,
            		330px for md, 256px for sm, 160 for xs(480p)*/
            	}
            .about{
                display: flex;
                justify-content:center;
                flex-direction:row;
                margin: 1rem 5rem;
                border-right: 1px solid #606060;
                border-left: 1px solid #606060;
            }
		/*section*/
		section{

		}
		h1, h2, h3, h4{
				font-family: 'Maven Pro', sans-serif;
		}
			h1{
				font-size: 3rem;
				margin-bottom: 0;
			}
			h2{
				color: #1b6b5b;
				font-size: 2.1rem;
				margin: 0.5rem 0;
			}
			h3{
				font-size: 1.8rem;
				margin: 2rem 0;
				line-height: 2.8rem;
				text-align: justify;
			}
		/*social bar*/
		article{
			position: relative;
		}
		.social{
			background-color: rgba(255, 255, 255, 0.65);
			position: absolute;
			right: 0;
		}
		.social i{
			color: #2eb398;
			font-size: 3rem;
		}
		.social i:hover{
			background-color: #6ccbbe;			
	}
	/*footer*/
footer{
/*	position: absolute;
	bottom: 0;	*/
	 /*overflow:hidden;*/
}
	/*
	del situ eiluciu kyla footerio problemos kai ekranas nera per visa ekrana
	*/
	.footer-top{
		background-color: #303030;
		display: flex;
		flex-direction:row;
		justify-content:center;
	}
		.contact{
			display: flex;
			flex-flow:row wrap;
			margin:3rem;
		}
			.single{
				width: 100%;
				margin: 0.5rem 0;

			}
				.txt-bold{
					font-size: 3rem;
					font-family: 'Lato', sans-serif;
				}
				.txt-semiBold{
					font-family: 'Lato', sans-serif;
					font-size: 1.8rem;
					margin-bottom: 1rem;
				}
			.structure-helper{
				display: flex;
				flex-direction:row;
			}
				form{
				display: flex;
				flex-flow:column wrap-reverse;
				width: 100%;
				}
					input, textarea{
						background-color: #464646;
						color: #BABABA;
						margin: 1rem 0;
						padding: 1rem;
						border-radius: 1px;
						border-style: none;
						resize:none;
					}
					input:first-child{
						margin-top:0.5rem;
					}
					::-webkit-input-placeholder{ /*chrome/opera/safari */
						background-color: #464646;
						color: #BABABA;
					}
					::-moz-placeholder{ /*mozila 19+ */
						background-color: #464646;
						color: #BABABA;
					}
					:-moz-placeholder{ /*mozila -18 */
						background-color: #464646;
						color: #BABABA;
					}
					:-ms-input-placeholder{ /*IE10+ */
						background-color: #464646;
						color: #BABABA;
					}
					button{
						color: #fff;
						width: 10%;
						background-color: #2eb398;
					}
				.text{
					display: flex;
					flex-direction:column;
					margin: 2rem;
					margin-top: 0;
				}
				.text div{
					text-align: justify;
					font-size: 1.3rem;
					line-height: 2.2rem;
				}

					.instaTac{
						display: flex;
						flex-direction:column;
						margin-top: 3em;
					}
					.instaTac a{
						margin: 0.5rem;
					}
					.instaTac>a>i{
						color: #2eb398;
						margin-right: 1rem;
					}


	.footer-bottom{
		background-color: #202020;
	}

/*
	viršutines horizontalias juostas bandyk padaryti naudodamas border ir padding
1*/

/*cia neliesti, cia viskas ciki*/
/*@media screen and (max-device-height: 480px){
	footer{
		position: absolute;
		bottom: 0;
	}
}